.cloud {
    position: relative;
}

.textbox {
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    top: 54%;
    left:50%;
    transform: translate(-50%, -50%);
    color: black;
}

.cloudWrapper {
    position: relative;
    display:flex;
    flex-direction: column;
}

.button {
    width: 50px;
    height:50px;
    background-color: #3B5073;
    position: absolute;
    top:70%;
    left:75%;
    padding: 10px 0px;
}

.refresh {
    width: 30px;
    height: 30px;
    padding:0px;
}

p {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}