.cloud {
    position: relative;
}

.textbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.cloudWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    max-width:100%;
}

.button {
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    background-color: #3B5073;
    position: absolute;
    top: 70%;
    left: 75%;
    padding: 0.625rem 0rem; /* 10px 0px */
}

.refresh {
    width: 1.875rem; /* 30px */
    height: 1.875rem; /* 30px */
    padding: 0rem;
}

p {
    font-family: Inter;
    font-size: 0.875rem; /* 14px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
