button:disabled {
  background-color: #8a8a8a;
}

button {
  outline: none;
  border: none;
  background-color: #3b5073;
  color: #fefefe;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 138px;
  height: 59px;
}
button:focus {
  outline: none;
  border: none;
}
button:active {
    color: black;
    background-color: #fefefe;
    border: 3px solid #3b5073;
}
