.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  padding: 1.25rem 0.75rem; /* 20px 12px */
  gap: 1.875rem; /* 30px */
}

.modalContent {
  border-radius: 1.25rem;
  background: var(--ggvit, #fcf8f2);
  padding: 1.25rem; /* 20px */
  border-radius: 0.25rem; /* 4px */
  position: relative;
  max-width: 31.25rem; /* 500px */
  width: 90%;
  max-height: 39.6875rem;
  overflow-x: scroll;
}

.modalContent h1 {
  color: var(--Mrkbl-text, #181335);
  text-align: center;

  /* H1 Startskärm */
  font-family: Lusitana;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modalContent p {
  color: var(--Mrkbl-text, #181335);

  /* Brödtext popup */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 200% */
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.modalClose {
  position: absolute;
  top: 0.625rem; /* 10px */
  right: 0.9375rem; /* 15px */
  background: none;
  border: none;
  font-size: 1.5rem; /* 24px */
  cursor: pointer;
}
