.normal {
  /* Layout */
  width: 20.9375rem;
  height: 27.3125rem;
  align-items: center;
  gap: -6rem;
  flex-shrink: 0;
  flex-shrink: 0;
  line-height: normal;
  border-radius: 1.875rem;
  /* background: #d9d9d9; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  display: flex;
}

h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: fit-content;
}

p {
  height: fit-content;
  color: #000;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonDisplay {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
}

.descriptionWrapper {
  display: flex;
  height: 8.0625rem;
  padding: 0 0.625rem 0.625rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  align-self: stretch;
  position: relative;
}

.modalLink {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  height: 1.75rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  color: #000;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.background {
  position: absolute;
  z-index: -1;
}

img {
  display: flex;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

button {
  display: flex;
  height: 3.6875rem;
  padding: 1rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 1.875rem;
  background: #fff;
  color: #000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
