.normal {
  width: 100%;
  min-height: 34.5rem;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  line-height: normal;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #D3DEF1;
  padding-top: 1rem;
}

.locationContent {
  display: flex;
  width: 25.125rem;
  height: 34.0625rem;
  flex-direction: column;
  align-items: center;
  gap: 0.0625rem;
  flex-shrink: 0;
}

h1 {
  color: var(--Mrkbl-text, #181335);
  text-align: center;
  font-family: Lusitana;
  font-size: 1.875rem; /* 30px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  height: fit-content;
  color: #000;
  font-family: Inter;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonDisplay {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.625rem;
}

.descriptionWrapper {
  display: flex;
  height: 5rem;
  padding: 0 0.625rem 0.625rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  /* flex-shrink: 0;
  align-self: stretch; */
  position: relative;
  width: 80vw;
}

.modalLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
  height: fit-content;
  height: 1.06rem; /* already in rem */
  width: 100%;
  color: #000;
  font-family: Inter;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  background-color: transparent;
  padding-right: 3rem;
  margin-top: -1rem;
}

.background {
  position: absolute;
  z-index: -1;
}

img {
  display: flex;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  /* align-self: stretch; */
}

button {
  display: flex;
  height: 3.6875rem; /* 59px */
  padding: 1rem 0.625rem; /* 16px 10px */
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 1.875rem; /* 30px */
  background: #fff;
  color: #000;
  font-family: Inter;
  font-size: 0.75rem; /* 12px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modalButtonClose {
  padding: 0.375rem 0.9375rem; /* 6px 15px */
  gap: 0.625rem;
  border-radius: 1.25rem; /* 20px */
  height: 2.5rem; /* 40px */
  margin-left: auto;
}

.descriptionBox {
  position: relative;
  height: 3rem; /* 48px */
  overflow: hidden;
}

.descriptionBox p {
  font-family: Inter;
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fadeOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.875rem; /* 30px */
  background: linear-gradient(to bottom, transparent, #d3def1);
  pointer-events: none;
}
