.infoHeader {
  min-height: 12.125rem; /* 194px */
  width: 100vw;
  background-size: cover;
}

.infoHeader h1 {
  padding: 3.125rem 5rem 0.625rem 5rem; /* 50px 80px 10px 80px */
  font-family: Lusitana;
  font-size: 1.875rem; /* 30px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.infoHeaderSmall {
  min-height: 6.935rem; /* 110.96px */
  width: 100vw;
  background-size: cover;
  overflow: visible;
}
