.infoHeader {
  min-height: 194px;
  width: 100vw;
  background-size: cover;
}

.infoHeader h1 {
  padding: 50px 80px 10px 80px;
  font-family: Lusitana;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.infoHeaderSmall {
  min-height: 110.96px;
  width: 100vw;
  background-size: cover;
  overflow: visible;
}
