
.outerBox {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.headerBox h2 {
  font-size: 16px;
}

.headerBox p {
  font-size: 12px;
}

.headerBox h2,
.headerBox p {
  margin-bottom: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  gap: 16px;
  justify-content: center; /* optional: center items */
}

.categoryWrapper {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.categoryWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.categoryWrapper span {
  font-size: 12px;
  color: rgb(50, 50, 50);
}


.generateBtn {
  background-color: #B3B3B3;
  padding: 16px 80px;
}

.generateBox {
  display: flex;
  justify-content: center;
  font-size: 20px;
}