.outerBox {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.headerBox h2 {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.25rem; /* 20px */
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #3B5073;
}

.headerBox p {
  font-size: 0.75rem; /* 12px */
  padding: 0 1.5625rem; /* 25px */
  color: #3B5073;
}

.headerBox h2,
.headerBox p {
  margin-bottom: 1.25rem; /* 20px */
}

.box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3.125rem; /* 50px */
  gap: 1.25rem; /* 20px */
  row-gap: 1.875rem; /* 30px */
  justify-content: center;
  margin-top: 1.25rem; /* 20px */
}

.categoryWrapper {
  display: block;
  width: 5.625rem; /* 90px */
  height: 5.625rem; /* 90px */
  border-radius: 50%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.selected {
  border: 0.1875rem solid #5a7095;
  box-shadow: 0rem 0rem 0.625rem 0.125rem #3B5073E0;
}

.categoryWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  padding: 0;
  margin-bottom: 0.375rem; /* 6px */
}

.categoryWrapper span {
  color: #3B5073;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 1rem; /* 16px */
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}


.generateBtn {
  background-color: #3B5073;
  box-shadow: 0rem 0.625rem 1.25rem 0rem #3B507340; /* 0px 10px 20px 0px */
  color: #FEFEFE;
  padding: 1rem 5rem; /* 16px 80px */
}

.generateBox {
  display: flex;
  justify-content: center;
  font-size: 1.25rem; /* 20px */
}
